{% extends "base.html" %}

{% block title %}Общая информация{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="news-header mb-4 border-bottom">
        <h2 class="text-center mb-4" style="font-size: 2rem; padding-bottom: 10px;">Общая информация</h2>
    </div>
    <p>
        Институт педагогики, психологии и социологии (ИППС) предлагает 
        разнообразные программы обучения, исследовательские проекты и 
        возможности для студентов и преподавателей. Мы стремимся к 
        развитию качественного образования и научных исследований 
        в области педагогики, психологии и социологии.
    </p>
    <p>
        Наша миссия - подготовка высококвалифицированных специалистов, 
        которые будут вносить значительный вклад в развитие образования и общества.
    </p>
    <!-- Добавьте больше информации о вашем институте здесь -->
</div>
{% endblock %}

