{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="news-header mb-4 border-bottom">
        <h2 class="text-center mb-4" style="font-size: 2rem; padding-bottom: 10px;">Наши партнеры</h2>
    </div>
    <div class="row">
        {% for partner in partners %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100 shadow-sm">
                {% if partner.photo %}
                <img src="{{ partner.photo.url }}" class="card-img-top" alt="{{ partner.name }}">
                {% endif %}
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center">{{ partner.name }}</h5>
                    <a href="{{ partner.url }}" class="btn btn-primary mt-auto" target="_blank">Перейти на сайт</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
