{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-5">Структура института педагогики, психологии и социологии</h1>
    <div class="row">
        {% for department in departments %}
        <div class="col-md-12 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ department.name }}</h5>
                    <p class="card-text"><strong>Заведующий:</strong> {{ department.head }}</p>
                    <p class="card-text">{{ department.description|truncatewords:30 }}</p>
                    <a href="{% url 'department_detail' department.pk %}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
