.carousel-item img {
    max-width: 100%;
    height: auto;
    max-height: 400px;
    margin: 0;
}

.text-carousel {
    background-color: #f2f2f2;
}

.carousel-inner {
    text-align: center;
}

.welcome-text {
    font-size: 36px;
    font-weight: bold;
    text-align: left;
}

.typing-line {
    display: inline-block;
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: black;
    }
}

.welcome-container {
    background-color: #f2f2f2;

    color: #262322;

}

