.carousel-item img {
    max-width: 100%;
    height: auto;
    max-height: 400px; /* Максимальная высота изображений */
    margin: 0 auto; /* Центрируем изображения внутри карусели */
}

.carousel-inner {
    text-align: center; /* Центрируем содержимое карусели */
}
