h1,
h2,
h3,
h4,
h5 {
    color: #2A555E;
}

.pdf-container {
    margin-bottom: 50px;
}

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    /* Добавляет плавную прокрутку на мобильных устройствах */
}

.scrolling-wrapper .btn {
    flex: 0 0 auto;
    /* Устанавливает фиксированную ширину для кнопок */
    margin-right: 10px;
    /* Добавляет отступ между кнопками */
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    margin-top: 5px;
}

/* Дорожка */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Бегунок */
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}

/* Наведение на бегунок */
::-webkit-scrollbar-thumb:hover {
    background: #999;
}

.justify-center {
    justify-content: center;
}


/* index.html */

.date-sticker {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.date-day {
    font-size: 1.5rem;
    font-weight: 600;
}

.date-month {
    text-transform: uppercase;
    font-weight: 600;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.badge-secondary {
    font-weight: 600;
    color: white;
}

.theme {
    display: flex;
    align-items: center;
}

.pagination .page-item.active .page-link {
    background-color: #2A555E;
    /* Цвет активной страницы */
    border-color: #2A555E;
    /* Цвет рамки активной страницы */
    color: #ffffff;
    /* Цвет текста активной страницы */
}

.pagination .page-link {
    color: #0000FF;
    /* Цвет текста неактивных страниц (синий) */
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
    /* Цвет текста для неактивных страниц */
}

.pagination .page-link:hover {
    background-color: #2A555E;
    /* Цвет фона при наведении */
    color: #ffffff;
    /* Цвет текста при наведении */
}

.pagination .page-item .page-link {
    border: 1px solid #2A555E;
    /* Цвет рамки всех кнопок */
    transition: all 0.3s ease;
    /* Плавный переход всех свойств */
}

.pagination .page-item:not(.active) .page-link {
    color: #2A555E;
    /* Цвет текста неактивных страниц */
}

.pagination .page-item .page-link:hover {
    background-color: #2A555E;
    /* Цвет фона при наведении на стрелки */
    color: #ffffff;
    /* Цвет текста при наведении на стрелки */
}
.btn-details {
    font-weight: 600;
    color: #000000;
    /* черный текст */
    background-color: #ffffff;
    /* белый фон */
    border: 2px solid #2A555E;
    /* черная обводка */
    transition: all 0.3s ease;
    /* плавный переход всех свойств */
}

.btn-details:hover {
    background-color: #2A555E;
    /* темный фон при наведении */
    color: #ffffff;
    /* белый текст при наведении */
    border-color: #2A555E;
    /* темная обводка при наведении */
}

