.card-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.card-img-top {
    max-height: 250px;
    object-fit: contain;
    padding: 1rem;
}

.card-body {
    padding: 2rem;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}